* {
    margin: 0;
    /* padding: 0 0 0 5px; */
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

#logo{
    margin-left: 5vw;
    margin-right: 5vw;
}


span.cart a {
    padding-right: 2px;
}

body {
    font-family:'League Spartan', sans-serif;
}

nav {
    background: black;
    height: 16vh;
    max-width: 100%;
    width: 100%;
    /* border-radius: 25px; */
    z-index: 2;
}

#navBar {
    position: sticky;
    top: 0;
}

a:hover {
    background-color: black;
    transition: 0.5s;
    color: gray;
}

span.search_bar {
    position: absolute;
    top: 4.5vh;
    padding: 2vh 4vw;
    border-radius: 8vw;
    background-color: white;
    border: 2px solid black;
}

select.item_selection {
    padding: 3vh 4vw;
    border-radius: 1vw;
    background-color: whitesmoke;
    border: 2px solid black;
}

span input {
    background-color: transparent;
    outline: none;
    border: 0;
    /* padding: 20px 30px 20px 40px; */
    text-align: center;
    font-size: 17px;
    color: black;
}

span.drop_down_icon {
    display: none;
}

label.company_name {
    color: white;
    font-size: 30px;
    line-height: 80px;
    padding: 20px 30px;
    font-weight: bold;
    /* animation: inOut infinite linear 1s infinite reverse; */
}


label.company_name:hover{
  color: black;
  background-color: black;
}

nav ul {
    position: relative;
    top: 2.5vh;
    float: right;
    /* margin-right: 4vw; */
    padding: 0 4vw;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    font-size: 20px;
    line-height: 80px;
    padding: 15px 25px;
    border-radius: 10px;
    text-transform: uppercase;
}

/* footer a{
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 20px;
    margin: 15px;
    float: left;
}

footer{
    background-color: black;
    overflow: hidden;
    max-width: 100%;
    width: 100%;
    height: 90px;
    border-radius: 20px;
    position: absolute;
    top: 200vh;
} */

/* footer a:hover{
    color: black;
    background-color: white;
    border-radius: 30px;
}

footer a:visited{
    color: royalblue;
}

.copyright{
    float: right;
} */

.sm-handle a{
    background-color: gray;
    padding: 10px 15px;
    border-radius: 30px;
    margin: 5px 10px;
    text-decoration: none;
}

div.login, video {
    height: 100vh;
    max-width: 100%;
    width: 100%;
    position: fixed;
    z-index: -1;
}

/* ------------------------------------------------------------------------------ */

#ms1{
    position: absolute;
    top: 40vh;
    left: 10vw;
}

#ms2{
    position: absolute;
    top: 40vh;
    left: 30vw;
}

#ms3{
    position: absolute;
    top: 40vh;
    left: 50vw;
}

#ms4{
    position: absolute;
    top: 40vh;
    left: 70vw;
}

/* ----------------------------------------------------------------------------------- */
  @keyframes display {
    0% {
      transform: translateX(0);
      opacity: 0;
    }
    10% {
      transform: translateX(0);
      opacity: 1;
    }
    20% {
      transform: translateX(0);
      opacity: 1;
    }
    30% {
      transform: translateX(0);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 0;
    }
  }
  
  .pic-ctn {
    position: absolute;
    margin-top: -3vh;
    z-index: -1;
    
  }
  
  
  .pic-ctn > img {
    position: absolute;
    top: 0;
    opacity: 0;
    animation: display 10s infinite;
    
  }
  
  img:nth-child(2) {
    animation-delay: 2s;
  }
  img:nth-child(3) {
    animation-delay: 4s;
  }
  img:nth-child(4) {
    animation-delay: 6s;
  }
  img:nth-child(5) {
    animation-delay: 8s;
  }

  /* ------------------------------------------------- */
  body
{
    margin: 0;
    font-family: 'Lato', sans-serif;
}

#containerFooter
{
    width: 100%;
    background-color: rgb(29, 29, 29);
    color: white;
    letter-spacing: 1px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-transform: uppercase;
    font-size: 15px;
    padding: 15px 300px;
    box-sizing: border-box;
    position: absolute;
    top: 240vh;
}
#containerFooter h3:hover, #containerFooter p:hover
{
    color: lightslategray;
    cursor: pointer;
}
#webFooter
{
    padding-top: 30px;
    font-size: 12px;
}
#credit 
{
    width: 100%;
    margin: auto;
    padding: 20px 0;
    text-align: center;
    background-color: rgb(29, 29, 29);
    color: white;
    font-size: 11px;
    letter-spacing: 1px;
    position: absolute;
    top: 295vh;
}

#credit a
{
    color: white;
    text-decoration: none;
    position: relative;
}

#credit a:hover
{
    color: black;
    background-color: white;
}

/* ----------------------------- MEDIA QUERY --------------------------- */

@media(max-width: 1350px)
{
    #containerFooter
    {
        padding: 15px 200px;
    }
}
@media(max-width: 1166px)
{
    #containerFooter
    {
        padding: 15px 100px;
    }
}
@media(max-width: 950px)
{
    #containerFooter
    {
        padding: 15px 50px;
    }
}
@media(max-width: 850px)
{
    #containerFooter
    {
        font-size: 13px;
    }
    #webFooter
    {
        font-size: 10px;
    }
}
@media(max-width: 750px)
{
    #containerFooter
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 15px 100px;
    }
    #webFooter
    {
        padding: 15px 20px;
    }
}
@media(max-width: 540px)
{
    #containerFooter
    {
        padding: 0 25px;
    }
}

