*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: ubuntu;
    margin: 0;
}


label.company_name{
    color: rgb(202, 39, 39);
    font-size: 30px;
    line-height: 120px;
    padding: 20px 80px;
    font-weight: bold;
}
